/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-size: 14px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* TYPOGRAPHY */
p,
li {
  text-wrap: pretty;
  max-width: 65ch;
}

/* CUSTOMS PROPERTIES */
:root {
  --clr-accent: hsl(13, 84%, 48%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-grey-800: hsl(0, 0%, 12%);
  --clr-grey-900: hsl(0, 0%, 8%);
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* Regular font */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}

/* Bold font */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-size: normal;
}

/* SemiBold font */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-size: normal;
}

/* Variable font */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-size: normal;
}

/* CUSTOM STYLES */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--clr-grey-900);
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--clr-grey-800);
  max-width: 85%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 1rem;
}

/* DEVELOPER SECTION */
.developer {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.developer .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.developer .location {
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-accent);
}

.developer .phrase {
  font-size: 0.825rem;
  font-weight: 600;
  text-align: center;
}

/* LINKS SECTION */
.links {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  width: 100%;
  list-style-type: none;
}

.link {
  background-color: var(--clr-grey-700);
  padding: 1rem;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: var(--clr-white);
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-color: var(--clr-grey-900);
  color: var(--clr-accent);
}
